*.swp
*.*~
project.lock.json
.DS_Store
*.pyc

# Visual Studio Code
.vscode

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
msbuild.log
msbuild.err
msbuild.wrn
[Bb]uild/
*.user
*.suo
.vs/*/*/*.suo
.suo
#*.exe
*.pdb
*.aps
*_i.c
*_p.c
*.ncb
*.tlb
*.tlh
*.[Cc]ache
*.bak
*.ncb
*.ilk
*.log
*.lib
*.sbr
*.sdf
ipch/ 
*.dbmdl
*.csproj.user
*.cache
*.swp
*.vspscc
*.vssscc
*.bak.*
*.bak
.vscode/*
App_Data/*

#Tools
_ReSharper.*
_ReSharper*/
*.resharper
*.resharper.user
[Nn][Dd]epend[Oo]ut*/
Ankh.NoLoad

#Other
.svn

# Visual Studio 2015
.vs/

# Project API
HealthCheck.Api.Subscription/.vs/HealthCheck.Api.Subscription/v16/.suo
HealthCheck.Api.Subscription/HealthCheck.Api.Subscription.Models/obj/Debug/netcoreapp3.1/HealthCheck.Api.Subscription.Models.csproj.FileListAbsolute.txt
HealthCheck.Api.Subscription/HealthCheck.Api.Subscription.Repositories/obj/Debug/netcoreapp3.1/HealthCheck.Api.Subscription.Repositories.csprojAssemblyReference.cache
HealthCheck.Api.Subscription/HealthCheck.Api.Subscription.Services/obj/Debug/netcoreapp3.1/HealthCheck.Api.Subscription.Services.csprojAssemblyReference.cache
HealthCheck.Api.Subscription/HealthCheck.Api.Subscription/bin/Debug/netcoreapp3.1/HealthCheck.Api.Subscription.dll
HealthCheck.Api.Subscription/HealthCheck.Api.Subscription/bin/Debug/netcoreapp3.1/HealthCheck.Api.Subscription.pdb
HealthCheck.Api.Subscription/HealthCheck.Api.Subscription/obj/Debug/netcoreapp3.1/HealthCheck.Api.Subscription.csprojAssemblyReference.cache
HealthCheck.Api.Subscription/HealthCheck.Api.Subscription/obj/Debug/netcoreapp3.1/HealthCheck.Api.Subscription.dll
HealthCheck.Api.Subscription/HealthCheck.Api.Subscription/obj/Debug/netcoreapp3.1/HealthCheck.Api.Subscription.pdb


